name: Karate API Tests

on:
  workflow_dispatch:
    inputs:
      test_tag:
        description: 'Tag del escenario a ejecutar'
        required: true
        default: '@smokeGetStoreOrderOrderId'
        type: choice
        options:
          - '@smokeGetStoreOrderOrderId'
          - '@getStoreOrderOrderId404'
          - '@getStoreOrderValidateResponseSchema'
          - '@retoOka'
jobs:
  karate-tests:
    runs-on: Ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Setup Java 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Run Karate Tests
      run: |
        mvn test -Dkarate.options="--tags ${{ GitHub.event.inputs.test_tag }}"
    - name: Upload Test Reports
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: karate-reports
        path: target/karate-reports/
